<div class="container">
    <h3>Board</h3>
    <form action="/write" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input name="inputName" id="name" type="text" class="validate">
          <label for="name" data-error="wrong" data-success="작성완료">이름</label>
        </div>
        <div class="input-field col s12">
          <input name="inputTitle" id="title" type="text" class="validate">
          <label for="title" data-error="wrong" data-success="작성완료">제목</label>
        </div>
        <div class="input-field col s12">
          <textarea name="inputContent" id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">내용</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">전송</button>
      </div>
    </form>
</div>

<% @everyPost.each do |p| %>
  이름 :  <%= p.dbName %><br>
  제목 :  <%= p.dbTitle %><br>
  내용 :  <%= p.dbContent %><br>
    <%= p.created_at %><br>
    <a href="/update_view/<%= p.id %>">[수정]</a>
    <a href="/destroy/<%= p.id %>">[삭제]</a>
    <hr>
<% end %>